.footer{
  width: 100%;
  padding: 5% 6% 1%;
  background-color: black;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  z-index: 999;
}
.footerLinks{
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;  
  color: var(--layout-color); 
  text-align: left;
  margin-bottom: 1rem;
}
.footerLinks a{
  font-family: var(--font);
  color: var(--layout-color);
  font-weight: 300;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer p{
  font-family: var(--font);
  font-size: var(--font-size);
  color: var(--layout-color);
  font-weight: 300;
  text-align: left;
}