/* Account Info Section */
.smallForm{
  width: 30%;
}
.editBtn{
  width: auto;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--light-red-color);
  background: var(--light-red-color);
  color: var(--main-bg-color);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: var(--font);
  transition: 1s;
  margin: 1rem 0;
}
.editBtn:hover{
  width: auto;
  background: var(--dark-red-color);
  border: 1px solid var(--dark-red-color);
}

/* Mobile Styles */
@media screen and (max-width: 1024px) {
  .smallForm{
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .smallForm{
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .smallForm{
    width: 100%;
  }
}