@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
  --font: 'Noto Sans', sans-serif;
  --main-bg-color: white;
  --light-red-color: #a20101; 
  --dark-red-color: #660101;
  --title-color: #343434;
  --item-color: #00000075;
  --text-color: #1e1e1e;
  --layout-color: #bbbbbb;
  --title-font-size: 1.6rem;
  --font-size: 1.3rem;
  --input-border: 1px solid #0000001f;
  --input-border-hover: 1px solid #a202017d;
  --box-shadow: 0 3px 15px #0000001f;
  --shadow: #0000001f;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
}
html{
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #999;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--box-shadow);
  background-color: #c3c3c3;
}
body{
  background-color:  var(--main-bg-color);
  font-family: var(--font);
	font-size: var(--font-size);
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: 300;
  color: var(--text-color);
  line-height: 1.5;
  margin-bottom: 1rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
  min-height: calc(100vh - 80px);
}
.contentBlock{
  width: 60%;
  margin: 8rem auto 5rem;
  box-sizing: border-box;
}
section{
  width:100%;
  box-sizing: border-box;
  padding: 6rem 9rem;
  color: var(--text-color);
  font-family: var(--font);
  font-size: var(--font-size);
  text-align: center;
}

/* Title Styles */
h1, h2, h3{
  font-size: var(--title-font-size);
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 2rem;
}
h1:after, h3:after {
  content: '';
  display: block;
  height: 1px; 
  background: var(--light-red-color);
  width: 100px; 
  margin: 10px 0; 
  transition: 1s; 
}
h1:hover:after, h3:hover:after {
  width: 200px; 
  transition: ease-out 1s; 
}
h2:after {
  content: '';
  display: block;
  height: 1px; 
  background: var(--light-red-color);
  width: 150px; 
  margin: 10px auto 0; 
  transition: 1s; 
}
h2:hover:after {
  width: 250px; 
  transition: ease-out 1s; 
}

/* Form */
form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  border-radius: 8px;
  background: var(--main-bg-color);
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
}
input, textarea, select {
  position: relative;
  width: 100%;
  background-color: var(--main-bg-color);
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-family: var(--font);
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--text-color);
  border-radius: 5px;
  border: var(--input-border); 
  outline: none;
  box-sizing: border-box;
  transition: 1s;
}
input:hover, textarea:hover, select:hover{
  border: var(--input-border-hover);
}
input:focus, textarea:focus, select:focus {
  outline: none;
}
input:active, textarea:active, select:active{
  outline: none;
}
.btnPosition{
  width:100%;
  display: flex;
  justify-content: flex-end;
}
form button{
  border: 1px solid var(--light-red-color);
  background: var(--light-red-color);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  font-family: var(--font);
  color: var(--main-bg-color);
  font-size: 1.1rem;
  outline: none;
  transition: 1s;
  cursor: pointer;
}
form button:hover{
  background: var(--dark-red-color);
  border: 1px solid var(--dark-red-color);
}

/* About Styles */
.carPhoto{
  margin-top: 0rem;
}

/* Swiper Styles */
.carSwiper{
  border-radius: 8px;
}
.singleCarSwiper{
  width: 100%;
}
.carSwiper .swiper-pagination-bullet-active, .singleCarSwiper .swiper-pagination-bullet-active{
  background: var(--main-bg-color);
}
.singleCarSwiper .swiper-button-prev, .singleCarSwiper .swiper-button-next{
  color: var(--main-bg-color);
}

/* Scroll */
#scrollBtn{
  position: fixed;
  bottom: 0.7rem;
  right: 4rem;
  cursor: pointer;
}
#scrollBtn svg{
  width: 50px;
  height: 50px;
}
#scrollBtn .top{
  fill: var(--light-red-color);
  transition: 1s;
}
.novisible{
  opacity: 0;
  transition: 1s;
}
.visible{
  opacity: 1;
  transition: 1s;
}

/* Mui Header Styles */
.css-hip9hq-MuiPaper-root-MuiAppBar-root, .css-zxtyt4-MuiPaper-root-MuiAppBar-root{
  background-color: #000;
}
.css-8je8zh-MuiTouchRipple-root{
  display: none;
}
.css-gxgi3k li.active a:after {
  content: '';
  display: block;
  height: 1px; 
  background: var(--light-red-color);
  width: 100%; 
  margin: 0 auto 0; 
}

/* Mobile Styles */
@media screen and (max-width: 1024px) {
  .contentBlock{
    width: 80%;
  }
  section {
    padding: 6rem 2rem;
  }
}
@media screen and (max-width: 768px) {
  .contentBlock{
    width: 96%;
  }
  .carPhoto{
    margin-top: 2rem;
  }
  form button{
    width: 48%;
  }
  input{
    width: 45%;
  }
}
@media screen and (max-width: 540px) {
  .css-r6ewbb-MuiToolbar-root{
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 425px) {
  .carPhoto{
    margin-top: 6rem;
  }
  form button, input{
    width: 100%;
  }
  section {
    padding: 4rem 1rem;
  }
}
