.contentBlock{
  width: 86%;
  margin: 8rem auto 5rem;
  box-sizing: border-box;
}
.twoColumn{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.side{
  width: 48%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.side img{
  width: 100%;
  height: auto;
}
.side form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5%;
  box-sizing: border-box;
  background: #000;
  margin: 2rem auto;
  border: 1px solid #a20201;
}
.side form input{
  width: 29%;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  font-family: Raleway,sans-serif;
  text-transform: uppercase;
  padding: 0.5rem;
  border: 1px solid #a4a4a4;
  background: transparent;
  border-radius: 5px;
}
.side form textarea{
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  font-family: Raleway,sans-serif;
  text-transform: uppercase;
  padding: 0.5rem;
  border: 1px solid #a4a4a4;
  background: transparent;
  border-radius: 5px;
  margin: 1rem 0;
}
.side form button{
  border: 1px solid #a20201;
  background: #a20201;
  border-radius: 5px;
  transition: 1s;
  padding: 0.5rem;
}
.side form button:hover{
  border: 1px solid #a20201;
  background: transparent;
  border-radius: 5px;
  transition: 1s;
  padding: 0.5rem;
}
.phone{
  display: flex;
  justify-content: center;
  font-family: Raleway,sans-serif;
  font-size: 1.2rem;
}
.phone img{
  width: 25px;
}
p.sideText{
  font-size: 1.1em;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  text-align: justify;
  line-height: 1.5;
}
h3.aboutTitle{
  font-size: 1.5rem;
  font-weight: 300;
  color: #a20201;
  text-transform: uppercase;
  text-align: justify;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .side{
    width: 100%;
  }
} 
@media screen and (max-width: 425px) {
  .side form input{
    width: 100%;
  }
}