.twoColumn{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.side{
  width: 48%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
  font-family: var(--font);
  font-size: var(--font-size);
  margin-bottom: 1rem;
}
.side img{
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
.contactBlock{
  border-right: 1px solid var(--shadow);
  border-bottom: 0px solid var(--shadow);
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 2rem 0;
}

/* Phone */
.phone{
  display: flex;
  justify-content: center;
  font-family: var(--font);
  font-size: var(--font-size);
}
.phone img{
  width: 25px;
}
.phoneLink{
  font-family: var(--font);
  color: var(--text-color);
  padding-top: 2px;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .side{
    width: 100%;
  }
  .contactBlock{
    border-right: 0px solid var(--shadow);
    border-bottom: 1px solid var(--shadow);
    padding: 2rem;
  }
} 