.catalogBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.china {
  width: 96%;
  color: var(--item-color);
  margin: 0.5rem 0;
  font-size: 0.8rem;
  text-align: right;
}
/* Filter */
.brand {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.brand select {
  width: 48%;
}
.filter input {
  width: 50%;
}
.inputLeft {
  border-radius: 5px 0 0 5px;
}
.inputLeft:hover {
  z-index: 2;
}
.inputRight {
  border-radius: 0 5px 5px 0;
  margin-left: -1px;
}
.filterOptions {
  width: 48%;
  display: flex;
  flex-wrap: nowrap;
}

/* Cards */
.carsBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.listItem {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: none;
  transition: 1s;
  position: relative;
  z-index: 1;
}
.listItem:before {
  position: absolute;
  top: 0;
  right: 16px;
  left: 16px;
  display: block;
  height: 1px;
  content: " ";
  opacity: 1;
  border-top: var(--input-border);
}
.listItem:hover {
  position: relative;
  box-shadow: 0 5px 20px 0 var(--shadow);
  z-index: 3;
}
.listItem:hover+.listItem:before,.listItem:hover.listItem:before {
  opacity: 0;
}
.cardBlock {
  display: flex;
  flex-wrap: wrap;
}

/* Photo */
.photoBlock {
  width: 30%;
  box-sizing: border-box;
  margin-right: 1.5rem;
}

/* Model, Price, Year */
.infoBlock {
  width: 65%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.model{
  width: 50%;
  color: var(--text-color);
  font-size: var(--font-size);
  font-weight: 600;
}
.carsBlock li:hover .model{
  color: var(--light-red-color);
}
.price{
  width: 30%;
  color: var(--text-color);
  font-size: var(--font-size);
  font-weight: 600;
}
.year{
  width: 20%;
  color: var(--text-color);
  font-size: var(--font-size);
  font-weight: 300;
  text-align: right;
}

/* Items */
.leftItem{
  width: 50%;
  color: var(--item-color);
  font-size: 1.1rem;
}
.centerItem{
  width: 30%;
  color: var(--item-color);
  font-size: 1.1rem;
}
.mileage{
  width: 20%;
  color: var(--item-color);
  font-size: 1.1rem;
  text-align: right;
}

/* Single Car*/
.twoColumn{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.sidePhoto{
  width: 54%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
  font-family: var(--font);
  font-size: var(--font-size);
  margin-bottom: 1rem;
}
.imgBlock {
  padding: 40%;
  position: relative;
  overflow: hidden;
}
.imgBlock img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 1s;
}
.side{
  width: 42%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
  font-family: var(--font);
  font-size: var(--font-size);
  margin-bottom: 1rem;
}
.sideInfo{
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.sideInfo p, .description{
  margin-bottom: 0.8rem;
}
.sideInfo p.listName{
  width: 30%;
  color: var(--item-color);
}
p.carPrice{
  width: 30%;
  color: var(--light-red-color);
  text-transform: uppercase;
  font-size: 1.5rem;
}
p.carDescription{
  font-size: var(--font-size);
  font-weight: 300;
  color: var(--item-color);
  text-align: justify;
  margin-bottom: 1rem;
  border-top: 1px solid var(--shadow);
}
/* Mobile */
@media screen and (max-width: 768px) {
  .side, .sidePhoto{
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .carsBlock li, .filter select, .filterOptions{
    width: 100%;
  }
  .photoBlock, .infoBlock{
    width: 100%;
    margin: 0;
  }
  .price{
    width: 50%;
    text-align: right;
  } 
}
