.contentBlock{
  width: 83%;
  margin: 8rem auto 5rem;
  box-sizing: border-box;
}
.imgBlock {
  padding: 30%;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
.imgBlock img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 1s;
}
.imgBlock img:hover {
  transform: scale(1.1);
}
.carsBlock{
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.carsBlock li{
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background: #fff;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 1px solid #e1e1e1;
  box-shadow: none;
  transition: 1s;
  position: relative;
  z-index: 1;
}
.carsBlock li:hover{
  border-radius: 8px;
  border-bottom: 1px solid #fff;
  box-shadow: 0 5px 20px 0 #0000001a;
  position: relative;
  z-index: 3;
}
.photoBlock{
  width: 30%;
  float: left;
  box-sizing: border-box;
  margin-right: 1.5rem;
}
.infoBlock{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.infoBlock span.model{
  box-sizing: border-box;
  color: #000;
  border-radius: 3px;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 1s;
}
.carsBlock li:hover .infoBlock span.model{
  color: #a20201;
}
.infoBlock span.price{
  box-sizing: border-box;
  padding: 0.5rem;
  color: #000;
  border-radius: 3px;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 1s;
}
.infoItems{
  display: flex;
  flex-direction: column;
}
.infoItems span{
  color: #00000075;
  margin-top: 0.3rem;
}
/* Buttons */
.change{
  padding: 0.5rem 1rem;
  border: 1px solid #a20201;
  background: transparent;
  color: #a20201;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 300;
  font-family: Raleway,sans-serif;
  text-transform: uppercase;
  transition: 1s;
  margin-top: 1rem;
}
.change:hover{
  border: 1px solid #a20201;
  background: #a20201;
  color: #fff;
}
.delete{
  padding: 0.5rem 1rem;
  border: 1px solid #a20201;
  background: #a20201;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 300;
  font-family: Raleway,sans-serif;
  text-transform: uppercase;
  transition: 1s;
  margin-top: 1rem;
}
.delete:hover{
  border: 1px solid #600302;
  background: #600302;
  color: #fff;
}
/* Single Car*/
.twoColumn{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.side{
  width: 48%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.side img{
  width: 100%;
}
.sideInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #a20201;
  padding: 0 0 1rem;
  box-sizing: border-box;
}
.sideInfo p.listItem{
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  background: #f3f3f3;
  box-sizing: border-box;
  padding: 0.5rem;
}
.sideInfo p.listDesription{
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 300;
  box-sizing: border-box;
  padding: 0.5rem;
}
p.price{
  color: #a20101;
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5rem;
}
h3.carDescription{
  font-size: 1.5rem;
  font-weight: 300;
  color: #a20201;
  text-transform: uppercase;
  text-align: justify;
  margin-bottom: 1rem;
  border-top: 1px solid #a20201;
}
/* Filter */
.catalogBlock{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.filter{
  width: 75%;
  padding: 2rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  box-sizing: border-box;
  box-shadow: 0 3px 14px #0000001f;
}
.filter select{
  width: 100%;
  color: #00000080;
  border-color: #0000001f;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  outline: none;
  transition: 1s;
}
.filter select:hover{
  border-color: #a202017d;
}
.filter select:focus{
  outline: none;
}
.filter select:active{
  outline: none;
}
@media screen and (max-width: 768px) {
  .carsBlock li{
    width: 48%;
  }
  .side{
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .carsBlock li{
    width: 100%;
  }
}
