/* Add Car Section */
.accountForm p{
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.lineForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.imageOption{
  width: 100%;
}
.formOption{
  width: 24%;
}
.formOption label, .imageOption label{
  font-weight: 300;
  color: var(--item-color);
  font-size: 1rem;
  text-align: justify;
}
.lineForm input, .lineForm select{
  width: 100%;
  color: var(--text-color);
}
.lineForm input::-webkit-input-placeholder{
  color: var(--text-color);
}
.lineForm input::-moz-placeholder{
  color: var(--text-color);
}
.lineForm input:-moz-placeholder{
  color: var(--text-color);
}
.lineForm input:-ms-input-placeholder{
  color: var(--text-color);
}
input.inputFile::-webkit-file-upload-button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--light-red-color);
  background: var(--light-red-color);
  color: var(--main-bg-color);
  margin-right: 10px;
  outline: none;
  border-radius: 5px;
  transition: 1s;
}
input.inputFile::-webkit-file-upload-button:hover {
  background: var(--dark-red-color);
  border: 1px solid var(--dark-red-color);
}
.coverInput{
  width: 100%;
  position: relative;
  height: 58px;
}
.coverInput .coverTop{
  width: 100%;
  pointer-events: none;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.coverInput .coverBottom{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.coverInput .clear{
  position: absolute;
  top: 18px;
  right: 3px;
  z-index: 3;
  cursor: pointer;
}
.coverInput .clear svg path{
  fill:#474747;
}

/* Mobile Styles */
@media screen and (max-width: 1024px) {
  .formOption{
    width: 49%;
  }
}
@media screen and (max-width: 768px) {
  input.inputFile{
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .formOption{
    width: 100%;
  }
}