.main{
  width: 100%;
}
.advantage{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.advantageItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 23%;
  margin-bottom: 2rem;
}
.advantageItem img{
  width: 50px;
  height: 50px;
  margin-top: 2rem;
  border: 1px solid #a20201;
  border-radius: 50%;
  padding: 1rem;
  background: #fff;
  transition: 1s;
}
.advantageItem img:hover{
  background: #dfdfdf;
}
.advantageItem p{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 2rem;
}
.request{
  background-image: url(request.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.request h2{
  color: #fff;
}
.grey{
  background: #f3f3f3;
}

/* Welcome */
.header {
  background-image: url(header.jpg);
  background-size: cover;
  color: #fff;
  padding: 130px 0 60px 0;
  font-size: 18px;
}
.container{
  width: 83%;
  margin: auto;
}
.headerTitle{
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-align: justify;
  font-weight: bold;
  font-size: 2.7rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.formHeader{
  width: 35%;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  animation: showLeft 1s;
  transition: 1s;
}
.formHeader input{
  width: 100%;
  background: #fff;
  border: 1px solid #a20101;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.28);
  box-sizing: border-box;
  outline: none;
}
.formHeader input:focus{
  outline: none;
}
.formHeader input:active{
  outline: none;
}
.formHeader button{
  width: 50%;
  font-size: 1.1rem;
  background: #a20101;
  border: 1px solid #a20101;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.28);
}
.formHeader button:hover{
  width: 50%;
  background: #660101;
  border: 1px solid #660101;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.28);
}

@keyframes showLeft {
  from {left:-100%;}
  to {left:0;}
} 

/* Questions*/
.phone{
  display: flex;
  justify-content: center;
  font-family: Raleway,sans-serif;
  font-size: 1.2rem;
  align-items: center;
}
.phone img{
  width: 25px;
  margin-right: 1rem;
}
.phone a{
  font-size: 1.8rem;
  font-weight: bold;
}
/* Slider */
.logoItem img {
  width: 150px;
  animation: scroll 120s linear infinite;
  margin: 0 3em;
}
.logoTrack {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.logoSlider {
  width: 100%;
  box-sizing: border-box;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-1000%);
  }
}
.icon{
  width: 50px;
  border: 1px solid #a20101;
  border-radius: 50%;
  padding: 1rem;
  background: #fff;
  transition: 1s;
}
.icon:hover{
  background: #a20101;
}
.filled{
  fill: #a20101;
  transition: 1s;
}
.icon:hover .filled{
  fill: #ffffff;
}
.phoneLink{
  font-family: 'Inter', sans-serif;
}

/* Catalog */
.imgBlock {
  padding: 30%;
  position: relative;
  overflow: hidden;
}
.imgBlock img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 1s;
}
.carsBlock{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}
.carsBlock li{
  width: 24%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 2.5rem;
}
.infoBlock{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
}
.infoBlock span.price{
  box-sizing: border-box;
  padding: 0.5rem 0 0;
  color: #333;
  font-weight: 700;
  font-size: 1.4rem;
}
.infoBlock span.model{
  box-sizing: border-box;
  padding: 0.5rem 0 0;
  color: #000000;
  font-weight: 300;
  font-size: 1.2rem;
}
.infoBlock span.items{
  box-sizing: border-box;
  padding: 0.5rem 0 0;
  color: #0000007e;
  font-weight: 300;
  font-size: 1.2rem;
}
@media screen and (max-width: 1024px) {
  .container{
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .advantageItem{
    width: 48%;
  }
  .formHeader{
    width: 50%;
  }
}
@media screen and (max-width: 425px) {
  .advantageItem{
    width: 100%;
  }
  .formHeader{
    width: 100%;
  }
}